/*購物車、會員、關於我們、商品介面樣式、評論*/
*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
body{
    font-family: 'Noto Sans TC', serif;
    margin: 0;
    font-size: 16px;   /* ⭐ 星星大小在這裡 */
    color: #ccc;
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  
.stars input {
    display: none;
  }
  
.stars label {
    font-size: 50px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  /* 滑鼠移上去時，該星星和前面的星星變色 */
.stars label:hover,
.stars label:hover ~ label {
    color: gold;
  }
  
  /* 點選星星後，該星星和前面的星星變色 */
.stars input:checked ~ label {
    color: gold;
  }

.outer {
    width: 90%;
    margin: 30px auto;
    border: 2px solid black;
    padding: 20px;
}

.outer h1 {
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.card {
    width: 180px;
    border: 2px solid black;
    text-align: center;
    padding: 20px 10px;
}

.circle {
    width: 120px;
    height: 120px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}

.card p {
    margin: 6px 0;
}

.review-container {
    max-width: 700px;
    margin: auto;
    background: #fff;
    border: 2px solid #000;
}

.title {
    padding: 10px;
    border-bottom: 2px solid #000;
    font-size: 18px;
}
  
.review-item {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    border-bottom: 1px solid #000;
}
  
.product-img {
    width: 80px;
    height: 80px;
    border: 2px solid #000;
    margin-right: 15px;
    background-color: #fff;
}
  
.review-content {
    flex: 1;
}
  
.stars {
    font-size: 18px;
    letter-spacing: 3px;
}
  
.date {
    font-size: 14px;
    margin: 5px 0;
}
  
.comment {
    font-size: 14px;
    margin-bottom: 10px;
}
  
.product-name {
    font-size: 14px;
}
  
.actions {
    white-space: nowrap;
    margin-left: 10px;
}
  
.actions a {
    color: #000;
    text-decoration: none;
    margin-left: 5px;
}
  
.actions a:hover {
    text-decoration: underline;
}
