*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:rgb(243, 158, 230);
    text-align:center;
    padding:20px;
}
nav{
    background-color: rgb(121, 239, 239);
    display:flex;
    padding:20px;
    width:100%;
    justify-content:right;
    gap:10px ;
}

.search-bar{
    padding:5px;
    border:none;
    outline:blue;
    width:200px;
    border-radius:20px;
}
.icon{
    width:30px;
    height:30px;
}
aside{
    background-color: rgb(204, 204, 204);
    width:10%;
    height:100%;
    float:left;
    padding:10px;
}
select{
    border:none;
    outline:blue;
    background: rgb(128, 135, 129);
    padding:5px;
}
select:hover{
    background-color:rgb(93, 229, 88);
    color:white;
}
main{
    background-color: rgb(255, 255, 255);
    width:80%;
    height:100%;
    float:left;
    padding:10px;
}
main.products{
    display:grid;
    
}

footer{
    background-color: rgb(243, 158, 230);
    text-align:center;
    padding:10px;
    position:relative;
    bottom:0;
    width:100%;
    clear:both;
}
