/*首頁樣式*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Noto Serif TC', serif;
    background-color: #fffdf9;
    color:#331133;
}
header{
    background-color:#fb8ba7;
    align-items: center;
    padding:20px;
    display:flex;
    justify-content: center;
}
.logo{
    width: 200px;
    height:100px;
    margin-right:20px;
   
}
h1{
    font-size:50px;
    color:rgb(251, 249, 249);
    line-height: 1;
}
nav{
    background-color: #f4c2c2;
    display:flex;
    padding:20px;
    width:100%;
    align-items: center;
}
.login {
    margin-right:auto;
}
.up-left{
    width:35px;
    height:35px;
}
.up{
    width:30px;
    height:30px;
    margin-left:20px;
}                                            
.search-bar{
    padding:5px 0;
    width:200px;
    border:none;
    margin-left:10px;
    border-bottom: 1px solid #777; /* 底部設置一條灰色的線 */
    background-color: transparent; /* 背景透明 */
    margin-left:10px;
    display: none;
}
.show-search{
    display: inline-block !important; /* 確保它能覆蓋 display: none; */
}
.search-bar:focus {
    outline: none;
    border-bottom-color: #f6efef; /*讓底線顏色變深或變亮 */
}
.search-bar::placeholder {
    color: #edf1f3; /*讓搜尋欄中的字變色*/
}


aside{
    width: 15%; 
    position: relative; 
    border: 1px solid #ffe5ec;
    background-color: #ffe5ec;
    float:left;
}
.main-brand-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* 品牌項目 (第一層) */
.brand-item {
    position: relative;
    border-bottom: 1px solid #ffe5ec;
    text-align:center;
}
.brand-item > a {
    display: flex; /* 使用 Flexbox 讓文字和箭頭對齊 */
    justify-content: space-between; /* 文字靠左，箭頭靠右 */
    align-items: center;
    padding: 12px 15px;
    color: #630404;
    font-size: 1.4em;
    font-weight: bold;
    text-decoration: none;
}
.brand-item >a::after{
    content: '⌵'; /* 下箭頭 Unicode 符號 */
    font-size: 1.2em;
    color: #3b0808;
}
.brand-item:hover {
    background-color: rgb(254,217,228); 
}
.brand-item:hover a {
    color: #444646;  /*品牌、公分滑鼠游標顏色變動*/
}
/* 子選單面板 (第二層：浮動框) */
.submenu-panel {
    position:static;
    left: 100%; /* 在品牌項目右側顯示 */
    z-index: auto; 
    padding: 10px 0 15px 15px; /* 增加左邊距讓子選單內縮 */
    background-color: transparent; 
    display: block; /* 讓 .submenu-column 垂直堆疊 */
    gap: 0;
}
/*子選單內部樣式 (日用/夜用/護墊) */
.submenu-column {
    margin-bottom:10px;
    min-width: 100px;
}
/*子選單內部樣式之標題 */
.submenu-column h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: #333; 
    margin-bottom:8px;
    padding-bottom: 5px;
    text-align: left; 
}
.submenu-column ul {
    list-style: none;
    padding: 0;
}
/*cm的樣式設定*/
.submenu-column li a {
    display: block;
    padding: 4px 10px;
    font-size: 0.9em;
    color: #555;
    text-decoration: none;
    font-weight: normal;
}
/*子選單版面中的cm數值顏色變換*/
.submenu-column li a:hover {
    color: #4096c5; 
    text-decoration: none;
}


main{
    background-color:#fffdf9;
    width:85%;
    padding:10px;
    float:right;
}
/*動態廣告樣式 */
.ad-group { 
    width: 100%; 
    height: 550px; 
    margin: 10px 0 10px 0;
    position: relative; 
    overflow: hidden;
    justify-content: center;
    align-content: center;
}
.ad-group a{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    opacity: 0; 
    z-index:1;
    animation-name: slideshow;
    animation-duration: 9s; 
    animation-iteration-count: infinite; 
    animation-fill-mode: forwards;
}
.slide-item {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    border-radius:10px;
    
}
@keyframes slideshow{

    /* 淡入 (0% -> 3%) */
    0% { opacity: 0; }
    3% { opacity: 1; }
    
    /* 顯示 (3% -> 30%) */
    30% { opacity: 1; }
    
    /* 淡出 (30% -> 33%) */
    33% { opacity: 0; }
    100% { opacity: 0; } /* 保持隱藏直到下次循環 */
}
.ad-group a:nth-child(1) { animation-delay: 0s; }
.ad-group a:nth-child(2) { animation-delay: 3s; }
.ad-group a:nth-child(3) { animation-delay: 6s; }

.ad-dots {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    gap: 10px; 
    z-index: 999; /* 確保圓點在圖片上層 */
}
/* 圓點樣式 */
.dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(218, 216, 216, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* 同步圖片的動畫 */
    animation: dot-active 9s infinite forwards;
}
/* 圓點選中樣式 */
.dot.active {
    background-color: #ea0be6; 
}
/* 圓點顏色切換*/
@keyframes dot-active {
    0%, 33.32% { background-color: #ea0be6; } /* 選中狀態顏色 (粉色) */
    33.33%, 100% { background-color: rgba(255, 255, 255, 0.5); } /* 未選中狀態 */
}
/* 圓點動畫延遲 - 必須與圖片一一對應 */
.ad-dots .dot:nth-child(1) { animation-delay: 0s; }
.ad-dots .dot:nth-child(2) { animation-delay: 3s; }
.ad-dots .dot:nth-child(3) { animation-delay: 6s; }

.hot{
    text-align: center;
    color:#383636;
    font-size:40px;
    font-weight: bold;
    border-bottom: 1px solid #9a9a9a;
    width:300px;
    justify-self: center;
}

.products{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    margin:20px;
    text-align:center;
}
.products img{
    width:200px;
    height:200px;
    object-fit: contain;
    align-items: center;
    justify-items: center; 
}
.product {  
    padding: 15px; 
    border: 1px solid #ddd; 
    border-radius: 20px; 
    box-shadow:0px 4px 10px rgba(0, 0, 0, 0.05); 
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items:center; 
    justify-content: space-between; 
    transition: transform 0.3s ease;
}
.product:hover {
    transform: translateY(-5px);
}
.product img{
    max-width:100%;
    height:180px;
    display:block;
    margin-bottom: 10px;
    object-fit: contain;
}
.product h3{
    font-size:1.2em;
    margin:10px 0 5px 0;
    color:#130411;
}
.product p{
    font-size:1.2em;
    margin:10px 0 5px 0;
    color:#f40505;
    font-weight: bold;
}
.product:hover h3, .product:hover p{
    color:#6e6d6e;
}
.product a{
    text-decoration:none;
    color: inherit; /*確保連結樣式不會蓋過h3、p的樣式*/
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/* 分頁容器 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    gap: 15px;
}
/* 數字與箭頭按鈕 */
.pagination span {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
    color: #555;
    border-radius: 10px; 
}
.cheveron{
    width:40px;
    height:40px;
}
.pagination span.active {
    background-color: #f69e98; 
    color: rgb(57, 57, 57);
}
.pagination span:hover:not(.active) {
    background-color: #f69e98;
    color:white;
}
.pagination .arrow {
    font-size: 1.5rem;
    color: #707272;
}


footer{
    background-color: #fb8ba7;
    padding:20px;
    width:100%;
    line-height: 1.8;
    clear:both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:18px;
    color:white;
}
footer a{
    text-decoration:none;
    color: inherit;
    display: inline;
    flex-wrap:wrap;
}
.icon{
    width:40px;
    height:40px;
    margin:20px;
}
.payment{
    width:50px;
    height:50px;
    margin:10px;
    align-items: center;
}
.footer-content{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    max-width: 1200px; 
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
    padding-bottom: 20px;
}
.footer-content .left, 
.footer-content .center, 
.footer-content .right{
    flex: 1;
    margin: 0 15px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    color:white;
}
.footer-content .left{
    line-height: 2.5;
}
.copyright{
    color:white;
}
.footer-icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;                             
    margin: 0 40px;                       
    justify-items: center;
}

/*footer information*/
.footer-content a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
.footer-content a:hover {
    color: #1f7cdf; /* 滑鼠移上去變深色，讓使用者知道可以點 */
    text-decoration: none;
}
.info-container {
    max-width: 900px;
    margin: 50px auto;
    background: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}
section {
    scroll-margin-top: 30px; /* 防止跳轉後標題貼緊頂部 */
    margin-bottom: 60px;
}
h2 {
    color: #fb8ba7;
    border-bottom: 2px solid #fb8ba7;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
h2::before { 
    content: "♥"; 
    margin-right: 10px; 
    font-size: 0.8em; 
}
h3 { 
    color: #331133; 
    margin-top: 25px; 
}
p { 
    color: #555; 
    margin-bottom: 15px; 
}
.back-btn {
    display: inline-block;
    background: #fb8ba7;
    color: white;
    padding: 10px 25px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s;
}
.back-btn:hover { 
    background: #f4c2c2; 
    transform: translateY(-2px); 
}

/*響應式*/
/*手機*/
@media (max-width: 767px) {
    header {
        flex-direction: column; 
        text-align: center;
        padding: 15px;
    }
    .logo {
        width: 100px;
        height: auto;
        margin-right: 0;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 24px; 
    }
    nav {
        padding: 10px;
        flex-wrap: wrap; 
        justify-content: space-between;
    }
    .login {
        margin-right: 10px; 
    }
    .search-bar {
        width: 100%; 
        order: 3; 
        margin-top: 10px;
        margin-left: 0;
    }
    #search-icon {
        order: 2; 
    }
    aside {
        width: 100%;
        float: none; 
        padding: 10px;
        font-size: 14px; 
    }
    aside ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        list-style: none;
    }
    .ads {
        width: 95%; 
        height: 150px; 
        margin: 10px auto;
        border-radius: 8px;
    }
    .ad-group { 
        width: auto;           
        height: 350px;        
        margin: 20px auto;    
        overflow: hidden;
        border-radius: 15px;
    }
    .ad-group img {
        width: 100%;
        height: 100%;
        object-fit: cover;   
        object-position: center; 
    }
    main {
        width: 100%;
        padding: 10px;
    }
    .products { 
        grid-template-columns: repeat(1, 1fr); 
    }
    .hot { 
        font-size: 28px; width: 200px; 
    }
    .product-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px; 
        justify-content: space-between;
    }
    .product-item { 
        width: calc(50% - 5px); 
        height: auto; 
        margin-bottom: 15px;
        padding: 5px;
    }
    .product-item img {
        width: 100%;
        height: 120px; 
        object-fit: cover;
    }
    .product-name {
        font-size: 13px; 
    }
    .pagination {
        gap: 5px;
    }
    .pagination span {
        width: 30px;
        height: 30px;
        font-size: 0.9rem;
    }
    footer {
        font-size: 14px;
        text-align: center;
        padding: 20px 10px;
    }
    .footer-icon {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .icon {
        margin: 5px 10px; 
    }
    .footer-content {
        flex-wrap: wrap;
        justify-content: center;
    }
    footer p.left, footer p.right {
        text-align: center;
        margin-bottom: 20px;
    }
}

/*平板*/
@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 40px;
    }
    aside {
        width: 20%;
        font-size: 16px;
    }
    main {
        width: 80%;
    }
    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
    }
    .ads {
        height: 250px;
    }
}

/*桌面*/
@media (min-width: 1025px) {
    h1 {
        font-size: 50px; 
    }
    .product-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        gap: 20px;
    }
}
